.App {
  font-family: sans-serif;
  text-align: center;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.my-grid {
  flex-grow: 1;
  height: 10px !important;
}

.my-chart {
  flex-grow: 2;
  height: 10px !important;
  display: inline-block;
}
